.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
}
.users {
	padding: 10px;
}

.messages {
	padding: 10px;
	position: relative;
	display: grid;
	grid-template-columns: 6fr 6fr;
	min-width: 0;

	background-color: #fff;
	background-clip: border-box;
	border: 0 solid rgba(0, 0, 0, 0.125);
	border-radius: 5px;
	align-content: center;
	justify-content: space-evenly;
	align-items: stretch;
	justify-items: start;
}
.btn {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
	background-color: #50b5ff;
	border-color: #50b5ff;
}
.form {
	width: 100%;
	margin: 10px 10px 10px 10px;
	border: 0 solid rgba(0, 0, 0, 0.125);
	box-shadow: 0 0 1.25rem 0 rgb(0 0 0 / 10%);
	border-radius: 5px;
}
.form btn {
	width: auto;
}
textarea {
	border: none;
	background-color: transparent;
	resize: none;
	outline: none;
}
